.hero {
    background: url("./imagem.png");
    background-position: center;
    background-size: cover;
      clip-path: path("M0,0L0,480Q360,560,720,480T1440,480L1440,0Z");
    font-weight: bold;
height: 700px;

    .overlay {
        width: 100%;
        background-color: #4343439e;
        min-height: 75vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;
        align-items: center;

        h1 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 65px;
            font-style: normal;
            font-family: serif;
            margin-top: -130px;

        }

        p {
            font-size: 20px;
            margin-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
        }

        .btn {
            background: #ffd600;
            color: #000;
            margin-top: 40px;
            border: none;
            padding: 0.3rem 1.5rem;
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            gap: 0.2rem;
            font-weight: 600;
            cursor: pointer;
             box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            svg {
                transition: transform 0.3s ease;
            }

            &:hover svg {
                transform: translateX(4px);
            }
        }


    }
}
