.quem-somos {
  background-color: #ffffff;
  color: #0A2540;
  border-radius: 40px;
  margin: 20px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;

  .container {
    max-width: 1100px;
    width: 100%;
  }

  .header {
    text-align: left;
    margin-bottom: 3rem;


    h1 {
      font-size: 2.8rem;
      font-weight: 600;
      margin: 0;
    }

    p {
      color: #555;
      font-size: 1.3rem;
      margin-top: 0.3rem;
    }
  }

  .conteudo {
    display: flex;
    align-items: flex-start;
    gap: 2.1rem;
    flex-wrap: wrap;
    margin-top: 0rem;
  }

  .imagem {
    flex: 1;
    background: #e6e6e6;
    height: 400px;
    aspect-ratio: 9 / 9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icone {
      font-size: 8rem;
      color: #aaa;
    }
  }

  .texto {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    .bloco {
      h2 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.7rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
        color: #333;
      }
    }
  }

  @media (max-width: 768px) {
    .conteudo {
      flex-direction: column;
      margin-left: 5px;
    }

    .imagem {
      width: 100%;
      aspect-ratio: 17 / 10;
      height: 200px;

    }
  }
}