.login-cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
  
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
}

/* Botão deslizante */
.switch-container {
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 30px;
  overflow: hidden;
  width: 300px;
  height: 45px;
  margin-bottom: 40px;
}

.switch-btn {
  flex: 1;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
  color: #555;
  transition: color 0.3s ease;
}

.switch-btn.ativo {
  color: #000;
  font-weight: 600;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #ffd600;
  border-radius: 30px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.slider.login {
  transform: translateX(0);
}

.slider.cadastro {
  transform: translateX(100%);
}

/* Área dos formulários */
.conteudo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-section,
.cadastro-section {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 25px;
}

input {
  width: 100%;
  max-width: 350px;
  margin: 13px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #fdd835;
}

.btn {
  width: 100%;
  max-width: 350px;
  background: #ffd600;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 15px;
  margin-top: 28px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #ffcc00;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.social-login img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-login img:hover {
  transform: scale(1.1);
}

.link {
  font-size: 0.9rem;
  color: #444;
}

.link .highlight {
  color: #f1b500;
  cursor: pointer;
  font-weight: 600;
}

.link .highlight:hover {
  text-decoration: underline;
}

.forgot {
  font-size: 0.85rem;
  color: #f1b500;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.forgot:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 600px) {
  .login-cadastro-container {
    padding: 20px;
  }

  .switch-container {
    width: 250px;
  }

  input {
    max-width: 300px;
  }
}
